/* Imports */
@font-face {
    font-family: LogoTitle;
    src: url(./assets/LogoFonts.otf);
}

@font-face {
    font-family: Titles;
    src: url(./assets/Roboto-Black.ttf);
}

@font-face {
    font-family: Body;
    src: url(./assets/Roboto-Light.ttf);
}

/* Variables */
:root{
    --Neutrals900-color: #030303;
    --Neutrals800-color: #080808;
    --Neutrals500-color: #292929;
    --Neutrals100-color: #eeeeee;
    --main-color: #9f0a2f;
    --secundary-color: #39a723;
}

/* Page Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Body;
    scroll-behavior: smooth;
}

/* Global Styles */
    ::-webkit-scrollbar {
        width: 18px;
        background: var(--Neutrals500-color);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--main-color);
        border-radius: 24px;
        box-shadow: 0 0 10px 10px var(--main-color);
    }
    
    .container{
        position: relative;
        overflow: hidden;
        width: 100%;
        background-color: var(--Neutrals900-color);
        color: var(--Neutrals100-color);
    }

    .divider{
        width: 100%;
        height: 12px;
        background-color: var(--Neutrals500-color);
    }

    .btn{
        appearance: none;
        height: 32px;
        border: none;
        border-radius: 8px;
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--main-color);
        color: var(--Neutrals100-color);
        font-size: .8rem;
        font-weight: 700;
        box-shadow: 0 0 3px 2px var(--Neutrals800-color);
        margin-top: 8px;
    }

    .btn-form{
        width: 150px;
    }

    .btn:hover{
        cursor: pointer;
        text-shadow: 0 0 10px #eeeeee;
    }

    .btn-edit{
        margin-bottom: 32px;
    }

    /* Navbar Styles */
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 120px 48px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 180px;
        background: linear-gradient(#000000 15%, #08080800 80%);
        z-index: 100;
    }

    .navbar-container div{
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .logo-navbar{
        color: var(--main-color);
        font-family: LogoTitle;
        font-size: 2.9rem;
        text-shadow: 0 0 4px var(--main-color);
    }

    .logo-navbar:hover{
        cursor: pointer;
        color: var(--Neutrals100-color);
    }

    .prof1{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        background: url(./assets/prof1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .prof2{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        background: url(./assets/prof2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .prof3{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        background: url(./assets/prof3.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .prof4{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        background: url(./assets/prof4.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .prof1:hover, .prof2:hover, .prof3:hover, .prof4:hover{
        cursor: pointer;
    }

    /* Footer Styles */
    .footer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
        padding: 40px;
    }

    .footer li{
        list-style: none;
        height: 200px;
        color: var(--Neutrals100-color);
    }

    .footer ul{
        margin-bottom: 16px;
    }

    .logo-footer{
        color: var(--main-color);
        position: absolute;
        width: 50px;
        bottom: 28px;
        left: calc(50% - 50px);
        font-family: LogoTitle;
        font-size: 1.5rem;
        text-shadow: 0 0 4px var(--main-color);
    }

/* ------------------------------------------------- */
/* Home Styles */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
    /* HeroBanner Styles */
    .herobanner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url(assets/back.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    .herobanner h1{
        width: 60%;
        text-align: center;
        font-family: Titles;
        font-size: 3rem;
        text-shadow: 0 0 5px var(--Neutrals800-color);
        margin-bottom: 18px;
    }

    .herobanner p{
        font-family: Titles;
        font-size: 1.5rem;
        text-shadow: 0 0 5px var(--Neutrals800-color);
        margin-bottom: 8px;
    }

    .herobanner button{
        font-size: 1.2rem;
        padding: 24px;
    }

    /* First Section Styles */
    .first-section{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .first-section img{
        width: 2100px;
        height: 1100px;
        filter: drop-shadow(0 5px 10px #292929);
    }

    .first-section h1{
        position: absolute;
        width: 650px;
        top: 42%;
        left: 60%;
        font-size: 3rem;
    }

    .first-section p{
        position: absolute;
        width: 650px;
        top: 50%;
        left: 60%;
        font-size: 1.7rem;
    }

    /* Second Section Styles */
    .second-section{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .second-section img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1950px;
        filter: drop-shadow(0 0 25px #292929);
    }

    .second-section h1{
        position: absolute;
        top: 40%;
        left: 4%;
        font-size: 3rem;
    }

    .second-section p{
        position: absolute;
        width: 750px;
        top: 50%;
        left: 4%;
        font-size: 1.7rem;
    }

/* ------------------------------------------------- */
/* Forms Styles */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
    .container
    {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }

    .form-container{
        width: 80%;
        background: var(--Neutrals500-color);
        margin: 10% auto 4%;
        padding: 80px;
        border-radius: 24px;
        box-shadow: 0 0 20px 5px #9f0a2f;
    }

    .form-container form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container form input{
        appearance: none;
        margin-bottom: 24px;
        width: 80%;
        padding: 8px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 24px;
        text-align: center;
        border: 3px solid var(--Neutrals800-color);
    }

    .form-container form label{
        margin-bottom: 20px;
    }

    .radios{
        display: flex;
        gap: 60px;
        margin-top: 40px;
    }

    .profImgs{
        width: 250px !important;
        height: 250px;
    }

    .profImgs:first-child{
        background: url(./assets/prof1.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .profImgs:nth-child(2){
        background: url(./assets/prof2.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .profImgs:nth-child(3){
        background: url(./assets/prof3.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .profImgs:nth-child(4){
        background: url(./assets/prof4.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .profImgs:hover{
        cursor: pointer;
    }

    .profImgs:checked{
        border: 4px solid var(--main-color);
    }

    .editInput{
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 24px;
        width: 70%;
    }

/* ------------------------------------------------- */
/* films Medias */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.full-screen{
    position: relative;
    width: 100%;
    height: 100vh;
}

.full-info{
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 10vh;
    left: 0;
    height: 180px;
    background: rgba(0, 0, 0, .8);
    padding: 12px;
}

.full-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.full-screen h1{
    font-size: 5rem;
}

.full-screen p{
    font-size: 1.5rem;
}

.filmsPage{
    height: 400vh;
}

.film-list{
    position: relative;
    top: -10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 40px;
}

.card{
    position: relative;
    justify-self: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--Neutrals500-color);
}

.filmimg{
    width: 100%;
    height: 60%;
    object-fit: fill;
}

.card h1{
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    padding: 10px;
}

.card p{
    width: 100%;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
}

.info{
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 30px;
}

.age{
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 4px;
}

.quality{
    font-size: 1.4rem;
    border: 1px solid var(--Neutrals100-color);
    padding: 8px;
    border-radius: 10px;
}

.tags li{
    color: var(--Neutrals800-color);
    position: absolute;
    width: 500px;
    top: 45%;
    left: 28%;
    margin-top: 12px;
    display: flex;
    gap: 40px;
}

.tags ul{
    font-size: 1rem;
    font-weight: 700;
    padding: 4px;
    border-radius: 10px;
    background: var(--Neutrals100-color);
}

.play{
    width: 100px;
    margin: 24px;
    transition: all .5s;
}

.play:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.kids{
    background: var(--secundary-color);
}

/* ------------------------------------------------- */
/* Home Medias */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

@media (max-width: 1892px)
{
    .filmsPage{
        height: 680vh;
    }

    .film-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .card{
        width: 570px;
    }
}

@media (max-width: 1758px)
{
    .filmsPage{
        height: 660vh;
    }

    .card{
        width: 520px;
    }
}

@media (max-width: 1634px)
{
    .filmsPage{
        height: 650vh;
    }

    .card{
        width: 480px;
    }

    .tags li{
        top: 35%;
        left: 28%;
    }
}

/* McBook Pro Medias */
@media (max-width: 1492px)
{
    .first-section h1{
        left: 53%;
    }
    
    .first-section p{
        left: 53%;
    }

    .first-section img{
        width: 1300px;
        height: 700px;
    }

    .second-section p{
        width: 500px;
    }

    .second-section img{
        width: 1050px;
    }

    .filmsPage{
        height: 630vh;
    }

    .card{
        width: 430px;
    }

    .tags li{
        top: 33%;
        left: 20%;
    }
}

@media (max-width: 1380px)
{
    .filmsPage{
        height: 920vh;
    }

    .film-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        width: 600px;
    }

    .tags li{
        top: 43%;
        left: 30%;
    }
}

@media (max-width: 1246px)
{
    .filmsPage{
        height: 740vh;
    }

    .card{
        width: 520px;
    }

    .tags li{
        top: 37%;
    }
}

/* Ipad Pro Medias */
@media (max-width: 1024px) 
{
    .first-section{
        width: 100%;
        height: 90vh;
    }
    
    .first-section h1{
        top: 70%;
        left: 25%;
    }
    
    .first-section p{
        top: 77%;
        left: 25%;
    }

    .second-section{
        height: 90vh;
    }
    
    .second-section h1{
        top: 20%;
        left: 15%;
    }
    
    .second-section p{
        width: 750px;
        top: 26%;
        left: 15%;
    }

    .footer{
        height: 400px;
    }

    .form-container{
        margin: 37% auto 12%;
    }

    .form-container form label{
        width: 70%;
        font-size: .8rem;
    }

    .signin{
        margin: 20% auto 40%;
    }

    .filmsPage{
        height: 720vh;
    }

    .card{
        width: 450px;
    }

    .tags li{
        top: 33%;
        left: 20%;
    }
}

/* Ipad Mini Medias */
@media (max-width: 770px) 
{
    .first-section h1{
        top: 78%;
        left: 25%;
    }
    
    .first-section p{
        top: 87%;
        left: 25%;
    }
    .second-section h1{
        top: 10%;
        left: 15%;
    }
    
    .second-section p{
        width: 750px;
        top: 18%;
        left: 15%;
    }

    .form-container{
        margin: 18% auto 5%;
    }

    .signin{
        margin: 20% auto 10%;
    }

    .filmsPage{
        height: 1420vh;
    }

    .film-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .card{
        width: 650px;
    }
}

/* Iphone Medias - min-width 390px */
@media (max-width: 480px) 
{
    .navbar-container{
        justify-content: space-around;
        padding: 0 0 48px;
    }
    
    .logo-navbar{
        font-size: 1.5rem;
    }
    
    /* Home Styles */
    /* HeroBanner Styles */
    .herobanner h1{
        font-size: 2rem;
    }
    
    /* First Section Styles */
    .first-section img{
        width: 800px;
        height: 450px;
    }
    
    .first-section h1{
        top: 68%;
        left: 10%;
        font-size: 1.7rem;
    }
    
    .first-section p{
        width: 650px;
        top: 75%;
        left: 10%;
        font-size: 1rem;
    }
    
    /* Second Section Styles */
    .second-section img{
        width: 600px;
    }
    
    .second-section h1{
        top: 30%;
        left: 8%;
        font-size: 1.7rem;
    }
    
    .second-section p{
        width: 350px;
        top: 37%;
        left: 8%;
        font-size: 1rem;
    }
    
    /* Footer Styles */
    .footer{
        flex-wrap: wrap;
        gap: 40px;
        height: 600px;
        padding: 0;
    }

    .form-container{
        margin: 40% auto 7%;
    }

    .form-container form input{
        width: 140%;
    }

    .form-container form label{
        width: 140%;
    }

    .filmsPage{
        height: 1220vh;
    }

    .card{
        width: 350px;
    }

    .tags li{
        top: 28%;
        left: 15%;
    }
    
    .info{
        font-size: 1rem;
    }

    .full-screen h1{
        font-size: 2rem;
    }
    
    .full-screen p{
        font-size: 1rem;
    }
}
